 <div class="details"></div>



 <div class="card">
                <div class="icon">
                    <i class="bi bi-download"></i>
                </div>
                <h3>DEPOSIT</h3>
                <p>Add money to your account</p>
                <a href="http://127.0.0.1:8000/Deposit" id="bt">Deposit Now</a>
            </div>
            <div class="card">
                <div class="icons">
                    <i class="bi bi-upload"></i>
                </div>
                <h3>WITHDRAW</h3>
                <p>Withdraw money from Account</p>
                <a href="http://127.0.0.1:8000/Withdraw" id="with">Withdraw Now</a>
            </div>
            <div class="card">
                <div class="ico">
                    <i class="bi bi-arrow-left-right"></i>
                </div>
                <h3>TRANSFER</h3>
                <p>Transfer money to another account</p>
                <a href="http://127.0.0.1:8000/Transfer" id="trans">Transfer Now</a>
            </div>
            <div class="card">
                <div class="logo">
                    <i class="bi bi-wallet2"></i>
                </div>
                <h3>CHECK BALANCE</h3>
                <p>View your current account balance </p>
                <a href="http://127.0.0.1:8000/CheckBalance" id="btn">Check Balance</a>
            </div>
            <div class="card">
                <div class="i">
                    <i class="bi bi-download"></i>
                </div>
                <h3>VIEW TRANSCATIONS</h3>
                <p>View your Transcations History</p>
                <a href="http://127.0.0.1:8000/view_Transcation" id="view">View Transcations</a>
            </div>
           
        </div>
    </div>







    <div class="cars">
                
                <li class="bi bi-person-fill" id="person"></li>
            
                
                <p id="username">Username : {{ username }}</p>
                <p id="number">Account Number : {{ account_number }}</p>
                <p id="current">Current Balance : {{ Current_Balance }}</p>
            </div>

