<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN-PAGE </title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>


<body>
    <form action="" method="post">

        <div class="page">
            <img src="{% static 'bank.png.jpeg' %}" id="image">

            <div class="form">

                <div class="login">
                    <div class="bank_name">
                        <b class="bi bi-bank2"></b>
                        My Bank
                    </div>
                    <div class="head">
                        <p>Welcome Back !</p>
                        <p>Login to access your account</p>
                    </div>

                    <p>Email :</p>
                    <div class="input-box">
                        <i class="bi bi-envelope"></i>
                        <input type="email" placeholder="enter email" id="mail" required name="email">

                    </div>
                    <p>Password :</p>
                    <div class="password">
                        <i class="bi bi-lock"></i>
                        <input type="password" required placeholder="enter correct password" id="password" name="password"
                            >
                        <i class="bi bi-eye-fill" id="togglepassword" onclick="togglepassword()"></i>
                    </div>

                    <a href="http://127.0.0.1:8000/forgotpassword" id="forgot">Forgot password ?</a>
                    <div class="error">
                        {{error}}
                    </div>
                    <button type="submit" id="btn" class="bi bi-lock-fill">LOGIN NOW</button>
                    <p id="or">or</p>
                    <div class="foot">
                        <a href="http://127.0.0.1:8000" id="create"> ? Create Account</a>
                    </div>


                </div>

            </div>
        </div>

    </form>
    <script>
            const password = document.getElementById("password");
            const eye = document.getElementById("togglepassword");

            eye.addEventListener("click", function () {
                if (password.type === "password") {
                    password.type = "text";
                    eye.classList.remove("bi-eye-fill");
                    eye.classList.add("bi-eye-slash-fill");
                } else {
                    password.type = "password";
                    eye.classList.remove("bi-eye-slash-fill");
                    eye.classList.add("bi-eye-fill");
                }
            })
    </script>

</body>

</html>