<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANSFER-PAGE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Transfer.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="dash">
        <div class="board">
            <i class="bi bi-bank" id="icon"></i>
            <span>MyBank</span>
        </div>
        <ul>
            <li>
                <a href="http://127.0.0.1:8000/Home-page">
                    <i class="bi bi-house-door"></i>
                    Dashboard


                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/Deposit">
                    <i class="bi bi-download"></i>
                    Deposit

                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/Withdraw">

                    <i class="bi bi-upload"></i>
                    Withdraw


                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/Transfer">

                    <i class="bi bi-arrow-left-right"></i>
                    Transfer

                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/CheckBalance">
                    <i class="bi bi-wallet2"></i>
                    Check Balance

                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/view">
                    <i class="bi bi-receipt"></i>
                    view Transactions


                </a>
            </li>

            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <div class="lot">
                        <button type="submit" id="btnn">
                            <i class="bi bi-box-arrow-left"></i>
                            Logout
                        </button>
                    </div>
                </form>
            </li>
        </ul>
        <img src="{% static 'image1.png' %}" id="image">
    </div>

    <form action="" method="post">
        <div class="depos">
            <div class="form">
                <div class="Deposite">
                    <div class="page">
                        <div class="icon">
                            <i class="bi bi-arrow-left-right"></i>
                        </div>
                        <h3>TRANSFER MONEY</h3>
                        <p>Transfer Money To Another Account</p>
                    </div>
                    <div class="details">
                        <p>From Account :</p>
                        <div class="num" id="number">
                            {{ account_number }}
                        </div>

                        </button>
                        <p>To Account :</p>

                        <input type="text" id="too_account" required placeholder="Enter Amount" name="To_account">
                        <button type="search" id="search">
                            <i class="bi bi-search" ></i>
                        </button>
                  
                        <div id="receiver_name"></div>
                        <p>Amount :</p>
                        <input type="number" required placeholder="Enter Amount" id="select" name="transfer_amount">
                        {{error}}
                        <button type="submit" class="bi bi-arrow-left-right" id="btn">

                            Transfer Now
                        </button>
                     

                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'transfer.js'  %}"></script>

</body>

</html>