body{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}
#image{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0;
    position: absolute;

    
}
*{
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100%;
   position: relative;
}
.form {
    position: absolute;
    right: 0;
    margin-top: 15%;
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
      
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 25px 0 0 25px;
    transform: translateY(-20%);
        border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.35);
    
    color: white;
    

    
}
.forgot{
    width: 100%;
    color: white;
    height: 65vh;
    

}
.bank_name{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 35px;
    padding: 20px;
}
.bank_name i{
    margin-right: 8px;
}
.head{
    text-align: center;
    margin: 0 0 12px 0;
}
.head h2{
    font-size: 22px;
    margin:  0 0 12px 0 ;

}
.head p{
    font-size: 22px;
    margin: 0 ;
}
.forgot > p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}
.input_box{
    position: relative;
    
    margin-bottom: 35px;
}


.input_box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #02082c;
}
.input_box input{
    border: none;
    outline: none;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    padding: 12px 15px 12px 45px;
    font-size: 20px;
}
#btn {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 12px;

    background: #0787ff;
    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

#btn i {
    margin-right: 6px;
}

#btn:hover {
    background: #006fd6;
}


#back {
    display: block;
    text-align: center;

    margin-top: 30px;

    color: white;
    text-decoration: none;
    font-size: 18px;
}

#back:hover {
    text-decoration: underline;
}
#error{
    color: red;
}
#password{
    top: 10%;
}