body{
    padding: 0px;
    margin: 0px;
    
}
#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0%;
}
.register{
    display: flex;
    justify-content: end;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}
.form{
   display: flex;
    justify-content: center;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
  
    
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.35);
    height: 82vh;
    color: white;
   width: 39VW;
   
   
}

.page{
   padding: 0px;
    width:35vw;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
   
}

.form input{
   width: 30vw;
    box-sizing: border-box;
    padding: 14px;
    margin: 8px 0 20px;
    background: rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.4) ;
    border-radius: 10px;
    color: white;
    outline: none;
    display: flex;
    justify-content: center;
}
#first{
    padding: 10px;
    width: 30vw;
}
#btn{
    display: flex;
    justify-content: center;
    padding: 10px;
   
    width: 30vw;
    background-color:#0c3dd0;
    cursor: pointer;
    color: azure;
    border-radius: 10px;
   
}
#btn:hover{
    background-color:#2d5bff ;
}

.error{
    color: red;
}
#heading{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}